-e git+https://github.com/Bhargavvvv2912/scikit-plot_AURA@1a70bfa9b27ef0497147eee153b01d53b4f6425a#egg=scikit_plot
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
joblib==1.2.0
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==1.26.4
packaging==26.0
pillow==12.1.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scikit-learn==1.7.2
scipy==1.11.4
six==1.17.0
threadpoolctl==3.6.0